// Navigasi
nav(class='navbar navbar-expand-lg navbar-light')
  div(class='navbar-header')
    a(class='navbar-brand', href='#') Logo
  button(
	class='navbar-toggler' 
	data-toggle='collapse'
	data-target='.navbar-collapse' 
	aria-controls='navbar'
	aria-expanded='true' 
	type='button'
)
    span(class='navbar-toggler-icon')
  div(class='collapse navbar-collapse')
    ul(class='nav navbar-nav')
      li(class='nav-item')
        a(class='nav-link' href='/') BERANDA
      li(class='nav-item')
        a(class='nav-link' href='/kambio') KAMBIO
      li(class='nav-item')
        a(class='nav-link' href='/pimbam') PIMBAM
      li(class='nav-item')
        a(class='nav-link' href='/godata') GODATA
      li(class='nav-item')
        a(class='nav-link' href='/pilm') PILM
      li(class='nav-item')
        a(class='nav-link' href='/about') ABOUT